{% extends "deltamaster.html" %}
{% load widget_tweaks %}
{% block content %}




<div class="container-fluid col-md-6 col-md-offset-3">
	<div class="container">
		<a href="{% url 'appdelta:admin' %}"><h5 align="left"><b>Atras</b></h5></a><br />
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 align="center"><b>Historial de pagos</b></h4>					
		</div>
		</br>	
		<div class="panel-body">
			<div class="panel-body">	
				
				<div class="table-responsive">					
					<table class="table table-bordered table-striped ">
						<thead>
							<tr>
								<th>Fecha</th>
								<th>Hora</th>
								<th>Abonado</th>
								<th>Dueda</th>						
							</tr>
						</thead>
						<tbody>
							{% for prest in prestamo %}
								<tr>
									<td>{{ prest.date }}</td>
									<td>{{ prest.hour }}</td>
									<td>{{ prest.payment }}</td>
									<td>{{ prest.total_payment }}</td>																
								</tr>					
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
	
{% endblock %}